#main-body {
  padding-top: 60px;
}
#employer-list{
  font-weight: bold;
}
#employer-detail{
  font-style: italic;
}
#heading{
  font-style: italic;
  font-family: comic sans MS;
  color: #65016C;
}
.navbar-inverse {
background-color: #8F40AD;
border-color: #8F40Ad;
}
.navbar-brand{
  font-style: italic;
  font-family: cursive;
  font-weight: 5em;
}
.job-detail{
  font-style: italic;
}
.update-btn{
  color: #FF8100;
}
footer{
  font-style: italic;
  font-weight: medium;
  color: #CB60D3;
}


