{extends file='layout.tpl'}
{block name=title}Job Search - Home{/block}

{block name=body1}
<div class="col-sm-9">
          <h1 id="heading"> Welcome to Job Search </h1>
          <img src="images/jobwanted.jpg" alt="Job Wanted Picture">
        </div>
{/block}