{extends file='layout_users.tpl'}
{block name=title}Job Seek - Home{/block}

{block name=body1}
<div class="col-sm-9">
          <h1 id="heading"> Welcome to Oz Vacancies </h1>
          <img src="images/jobwanted.jpg" alt="Job Wanted Picture">
        </div>
{/block}
