#main-body {
  padding-top: 60px;
}
#employer-list{
  font-weight: bold;
}
#employer-detail{
  font-style: italic;
}
#employer-heading{
  font-style:italic;
  float: right;
  margin-right: 1em;
}
#heading{
  font-style: italic;
  font-family: comic sans MS;
  color: #65016C;
}
#content{
  background-color:#EEEEEE;
  float:left;
  height: 10em;
  width: 50em;
  border-radius:25px;
  padding: 2em;
}
#search{
  font-weight: bold;
}
#title{
  font-style: italic;
  font-weight: bold;
  color: #CB60D3;
}
.navbar-inverse {
  background-color: #8F40AD;
  border-color: #8F40Ad;
}
.navbar-brand{
  font-style: italic;
  font-family: cursive;
  font-weight: 5em;
}
.job-detail{
  font-style: italic;
}
.update-btn{
  color: #FF8100;
}
.list-heading{
  color: #FFCC33;
  font-style: italic;
  font-family: comic sans MS;
}
.li.active{
  background-color: #8F40AD;
}
.active{
  background-color: #8F40AD;
}
.btn-primary{
  float: right;
  background-color: #D00076;
  border: pink:
  margin-left: 2px;
  border-style: none;
}
.btn-success{
  margin-left: 5em;
  width: 10em;
}
.btn-danger {
  float: right;
  margin-left: 1em;
}
.btn-info{
  background-color: green;
  border: green;
}
.login-form{
  float: right;
  margin-right: 2em;
}
.col-sm-9{
  ç
}
footer{
  font-style: italic;
  font-weight: medium;
  color: #CB60D3;
}
btn-primary:active{
  background-color: #87004D
}

